@charset "UTF-8";

@import 'sass/fonts';
@import 'sass/variables';

body {
    @import 'sass/reset';
}

body {
    min-width: $mobileMin;
    //Uncheck, only if site has to be of a smaller size
    // max-width: $desktopMax;
    // margin: 0 auto;
    font-family: $main-font;
    font-size: $fontSizeBase;
    line-height: $lineHeightBase;
    font-weight: 400;
    background-color: $color-white;
    color: $color-black;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    @import 'sass/mixins';
    @import 'sass/helpers/utils';
    @import 'sass/main';
    //UTILS
    // @import 'sass/helpers/carousel';
    // @import 'sass/helpers/accordions';
    // @import 'sass/helpers/scrollbar';
}